/* Start ----------------------------------------------------- body-backup.css*/

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #ccc;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#container {
	background-color: #dfd;
	overflow: hidden;
  width: 974px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
	border: solid 3px silver;
}

#nav {
	background-color: transparent;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	width: 100px;
}

ul {
	margin-left:30px;
}

li {
	list-style-type: katakana-iroha;
	margin-bottom: 10px;
	font-size: 16px;
}

#main {
	padding: 10px 20px;
	background-color: #ddf;
	float: right;
	width: 800px;
	border-left:1px solid silver;
}

h1 {
  font-size: 28px;
  color: #c55;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
}
h1 a {
	padding-left:2px;
	padding-right:2px;
}
h2 {
	margin-top: 5px;
	margin-bottom: 5px;
  font-size: 20px;
  color: #777;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
}
h3 {
  color: #4d9b12;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  margin-top: 5px;
	margin-bottom: 10px;
}

hr {
  border: 0px;
  color: #ccc;
  background-color: #cdcdcd;
  height: 1px;
  width: 100%;
  text-align: left;
}

p {
  color: #000;
  line-height: 20px;
  padding: 5px;
}
a {
  color: #4d9b12;
}
a:hover {
  background-color: #bbb;
}

table {
	margin-bottom: 10px;
	border-collapse: collapse;
	border: 1px solid #bbb;
}

tr {
	border-top: 1px solid #bbb;
}

caption {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 .4em;
}

.odd {
	background-color: #edf5ff;
}

th, td {
	padding: 0.1em 1em;
}

col {
	border-right: 1px solid #bbb;
}

col#type_id {
	width: 85px;
}

td.check {
	text-align: center;
}

col#type_name {
	width: 226px;
}

col#start_date, col#end_date {
	width: 110px;
}

thead {
	background: #ccc url(/images/bar.gif) repeat-x left center;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
}

th {
  font-weight: normal;
}

tr:hover {
  background-color:#3d80df;
  color: #fff;
}

tr:hover a {
  color: #fff;
}

thead tr:hover {
  background-color: transparent;
  color: inherit;
}

form {
	margin-top: 10px;
	margin-bottom: 10px;
}

form#search select {
	width: 240px;
}

form#submit {
	padding: 0.25em 1em 1em 1em;
	background-color: #edf5ff;
	border: 1px solid #ccc;
}

form#submit button {
	margin-left: 710px;
}

fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
}

legend {
	font-weight: bold;
}

#start_date_year, #end_date_year {
	margin-right: 20px;
}

#start_date_day, #end_date_day {
	margin: 0 2px;
}

label {
	margin-right: 6px;
}

input {
	width: 200px;
}

input#type_id {
	width: 50px;
}

input#type_id, input#keywords, form#search select {
	margin-right: 16px;
}

input:focus {
	background-color: #ffc;
}

#footer {
	margin-top: 10px;
	text-align: center;
}


/* Default CSS for welcome page.  Delete this styling and replace it with your own. */

.sc-welcome {
 position: absolute ;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
 background-color: white ;
}

.sc-welcome img.logo {
 position: absolute ;
 bottom: 80px;
 left: 50%;
 margin-left: -20px;
}

/* @group Message */

.sc-welcome .message {
 max-width: 800px;
 margin-left: auto ;
 margin-right: auto;
 margin-top: 100px;
 position: relative;
}

.sc-welcome h1 {
 border: none ;
 padding: 0;
 margin: 0;
 letter-spacing: -3px;
 font: normal 6.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.sc-welcome h3 {
 margin: 8px 12px;
 padding: 0;
 font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 color: #808080;
}

/* @end */

/* @group Sticky Note */

.sc-welcome .sticky-note {
 position: absolute ;
 right: 0;
 top: -70px;
 width: 320px;
 height: 300px;
 padding: 60px;
 padding-right: 20px;
 background: url('/static/sproutcore/_src/english.lproj/images/sticky-note.png?1218940831') no-repeat center center;
 font: 1.3em "Comic Sans MS", "Comic Sans", Arial, Helvetica, Geneva, sans-serif;
 color: #5f4700;
}

.sc-welcome .sticky-note p {
 font-weight: bold ;
}

.sc-welcome .sticky-note ul {
 padding: 0 10px ;
}

.sc-welcome .sticky-note li {
 margin: 8px 0 ;
}

/* @end */

/* @group For Tutorial */

body {
 position: absolute ;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 padding: 0;
 margin: 0;
 overflow: hidden ;
}

.workspace .sidebar {
 position: absolute;
 left:  0;
 top:  0;
 width: 200px;
 bottom: 0;
}

.workspace .sidebar .master_list {
 position: absolute;
 left:  0;
 top:  0;
 right: 0;
 bottom: 0;
}

.workspace .sc-split-divider-view {
 position: absolute;
 left: 200px;
 top: 0;
 bottom: 0;
}

.workspace .detail_view {
 position: absolute;
 left: 205px;
 right: 0;
 top: 0;
 bottom: 0;
 border: none ;
 background-color: #aaa;
}

.workspace .detail_view .card-detail {
 margin-left: auto;
 margin-right: auto;
 top: 100px;
 position: relative;
 border: 4px #888 solid;
 background: #f0f0f0;
 padding-top: 10px;
 padding-bottom: 10px;
}

.workspace .detail_view .card-detail td {
 padding: 0 10px;
}

.workspace .detail_view .card-detail .buttons {
 text-align: right;
 padding-top: 10px;
}

.workspace .detail_view .card-detail input {
 font-size: 14px;
 width: 300px;
}

/* @end */



/* End ------------------------------------------------------- body-backup.css*/

