/*h1 {
	display:inline;
}
*/

/* @group for header */
.left.app-label {
    padding-top: 5px;
    cursor: pointer;
}

.sc-theme .app-label .sc-label-view {
    text-shadow: white 0px 1px 0px;
    font-weight: bold ;
    font-size: 15px;
}

.app-label img {
    width: 27px;
    height: 27px;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 2px;
}

/* Default CSS for welcome page.  Delete this styling and replace it with your own. */


/* @group For Tutorial */

body {
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 padding: 0;
 margin: 0;
 overflow: hidden;
}

body.sc-theme {
/*	background-color: #D3E3FF;
	color: #222;
*/
background-color: #E6E3EF;
color: black;
}

.workspace .sidebar {
 	position: absolute;
 	left:  0;
 	top:  0;
 	width: 126px;
 	bottom: 0;
 	right: 0;
	border: 1px solid #AAAAAA;
	overflow: auto;
}

.workspace .sidebar h2 {
	margin:0;
	padding: 10px 4px 4px;
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
}

.workspace .sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	top: 25px;
}

.workspace .sidebar li {
	padding-left: 8px;
	line-height: 27px;
}

.workspace .sidebar h2:hover, .workspace .sidebar li:hover {
	cursor: pointer;
  background-color:#3d80df;
  color: #fff;
}

a#add_topic_feature {
	margin-left: 18px;
}

a#add_group_feature {
	margin-left: 12px;
}

a#add_network_feature {
	margin-left: 0;
}

.workspace .detail_view {
	padding-top: 10px;
	background-color: #F8F8F8;
	position: absolute;
	left: 126px;
	right: 0;
	top: 0;
	bottom: 0;
	border: none ;
	border: 1px solid #AAAAAA;
	overflow: auto;
}

.workspace .detail_view table {
	position: static;
	/* margin: 0 5px 10px 16px; /* left align */
	margin: 0 auto 10px;
	border-collapse: collapse;
	border: 1px solid #bbb;
}

.workspace .detail_view tr {
	border-top: 1px solid #bbb;
}

.workspace .detail_view caption {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 .4em;
}

.workspace .detail_view .even {
	background-color: #edf5ff;
}

.workspace .detail_view th, td {
	padding: 0.15em 1em 0.08em;
}

.workspace .detail_view col {
	border-right: 1px solid #bbb;
}

.workspace .detail_view col.type_id {
	width: 95px;
}

.workspace .detail_view td.delete {
	text-align: center;
}

.workspace .detail_view col.type_name {
	width: 226px;
}

.workspace .detail_view col.start_date, col.end_date {
	width: 134px;
}

.workspace .detail_view col.edit {
	border-right: none;
}

.workspace .detail_view thead {
	background: #ccc static_url('images/bar.gif') repeat-x left center;
}

.workspace .detail_view th {
  font-weight: normal;
	cursor: pointer;
}

.workspace .detail_view tr:hover {
  background-color:#3d80df;
  color: #fff;
}

.workspace .detail_view tr:hover a {
  color: #fff;
}

.workspace .detail_view thead tr:hover {
  background-color: transparent;
  color: inherit;
}

.workspace .detail_view .card-detail {
 margin-left: auto;
 margin-right: auto;
 top: 100px;
 position: relative;
 border: 4px #888 solid;
 background: #f0f0f0;
 padding-top: 10px;
 padding-bottom: 10px;
}

.workspace .detail_view .card-detail td {
 padding: 0 10px;
}

.workspace .detail_view .card-detail .buttons {
 text-align: right;
 padding-top: 10px;
}

.workspace .detail_view .card-detail input {
 font-size: 14px;
 width: 300px;
}

/* @end */

