<% # ========================================================================
   # Admin.TopicFeatureView Unit Test
   # ========================================================================
%>
<% content_for('final') do %>

<script>

Test.context("Admin.TopicFeatureView",{

  "TODO: Add your own tests here": function() {
    true.shouldEqual(true) ;
  }

}) ;

if (window.main && (appMain = main)) main = null ;

</script>

<% end %>
